*__*__
auxdata/*

notebooks/*
!notebooks/demo_notebook.ipynb
!notebooks/demo_notebook_objects.ipynb
!notebooks/notebooks/Validation_smartg_compilation.ipynb
!notebooks/validation_SMARTG_IPRT_phaseA.ipynb
!notebooks/validation_SMARTG_IPRT_phaseB-C2.ipynb
tests/logs/*
pytest.ini

# pixi environments
.pixi
*.egg-info